@font-face {
  font-family: '源柔ゴシック';
  src: url('./font/GenJyuuGothicL-P-Bold.ttf');
}
body {
  margin: 0;
  padding: 0;
}
.playerList {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  list-style: none;
  box-sizing: border-box;
}
.player {
  width: 265px;
  height: 424px;
  border: 15px solid #F4F5F7;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.werewolf,
.kyoujin,
.kyousinsya {
  background: radial-gradient(#c74754, #ad313b 40%, #621e2f);
}
.murabito,
.uranaishi,
.reinousya,
.kishi,
.kyouyuusya {
  background: radial-gradient(#5da2dc, #4286c9 40%, #264885);
}
.kitune,
.haitokusya {
  background: radial-gradient(#62c373, #3ba951 40%, #126627);
}
.player + .player {
  margin-left: calc((100vw - 60px - 265px * 6) / 5);
}
.player:nth-child(7) {
  margin-left: 0;
}
.icon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background: #F4F5F7;
  background-blend-mode: multiply;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%;
}
.backIcon-werewolf {
  -webkit-mask-image: url('./icon/狼アイコン4.png');
}
.backIcon-kyoujin {
  -webkit-mask-image: url('./icon/いじめっ子アイコン1.png');
}
.backIcon-kyousinsya {
  -webkit-mask-image: url('./icon/神父のフリーアイコン2.png');
}
.backIcon-murabito {
  -webkit-mask-image: url('./icon/人物アイコン.png');
}
.backIcon-uranaishi {
  -webkit-mask-image: url('./icon/占い師アイコン2.png');
}
.backIcon-reinousya {
  -webkit-mask-image: url('./icon/ゴーストアイコン1.png');
}
.backIcon-kishi {
  -webkit-mask-image: url('./icon/騎士のフリーアイコン2.png');
  -webkit-mask-size: 120%;
}
.backIcon-kyouyuusya {
  -webkit-mask-image: url('./icon/握手のアイコン.png');
}
.backIcon-kitune {
  -webkit-mask-image: url('./icon/キツネアイコン4.png');
}
.backIcon-haitokusya {
  -webkit-mask-image: url('./icon/仮面のフリーアイコン２.png');
}

.position-name {
  top: 10px;
  position: absolute;
  writing-mode: vertical-rl;
  font-size: 48px;
  font-family: '源柔ゴシック';
  color: #F4F5F7;
  text-shadow: -2px 2px 0 #5e5e5e, -4px 4px 0 #f4f5f7, -6px 4px 10px #5e5e5e;
  z-index: 10;
}
.player-image {
  width: 100%;
  position: relative;
}
.player-name {
  width: 100%;
  height: 70px;
  bottom: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f5f7;
  font-family: '源柔ゴシック';
  font-size: 36px;
  color: #5e5e5e;
}
.dead {
  filter: grayscale(100%);
}
